<div class="cta-row">
  <a class="primary-button" href="#placement-form">
    Request a VibeBox
  </a>
  <a class="secondary-link" href="mailto:vibeboxvending@gmail.com">
    Or email us directly
  </a>
</div>
